.container{
	width: 700px;
	margin: 50px auto;
}

@media (max-width: 960px) {
	.container{
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container{
		width: 500px;
	}
}

@media (max-width: 540px) {
	.container{
		width: 300px;
	}
}

h2{
	color: white;
}

h3{
	color: white;
	font-size: 30px;
}

h2, h3{
	font-family: 'Lato', sans-serif;
}
